apiVersion: apps/v1
kind: StatefulSet 
metadata:
  name: mongo 
  labels:
    app: mongo 
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels: 
        app: mongo
        tier: database
    spec:
      containers:
        - name: mongo 
          image: docker.io/library/mongo:7
          ports:
          - containerPort: 27017
          volumeMounts: 
            - name: mongo-data
              mountPath: data/db/
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              value: "admin"
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: "secretpass"
            - name: MONGO_INITDB_DATABASE
              value: "threat_db"
  volumeClaimTemplates:
  - metadata:
      name:  mongo-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
   